<header>
    <h1>Appreciation Wall</h1>
    <nav>
        <a href="/">Home</a>&nbsp;|&nbsp;
        <a href="/posts">Posts</a>&nbsp;|&nbsp;
        <a href="/posts/new">Add</a>
        
    </nav>
</header>