<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appreciation Wall | CODE</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Appreciation Wall</h1>
        <nav>
            <a href="index.html">Home</a>&nbsp;|&nbsp;
            <a href="posts.html">Posts</a>&nbsp;|&nbsp;
            <a href="add.html">Add</a>
        </nav>
    </header>

    <main>
        <p>Our appreciation posts: </p>
        <ul>
            <li><a href="/posts/1">1</a></li>
            <li><a href="/posts/2">2</a></li>
        </ul>

        
        
    </main>

</body>



</html>