<!doctype html>
<html lang="en">
  <%- include('../includes/head', {title: 'Posts | Appreciation Wall'}) %>
  <body>
    <%- include('../includes/header') %>
    <h1>Write your appreciations here!</h1>


    <p>You can browse the appreciations <a href="posts.html">here</a>.</p>
    <p>Back to <a href="index.html">homepage</a>.</p>

    <form action="/posts" method="POST">
      <input
        type="text"
        name="codeperson"
        placeholder="Name of the person"
      /><br />
      <textarea
        name="message"
        placeholder="Your appreciation message"
      ></textarea
      ><br />
      <input type="text" name="from" placeholder="your name" /><br />

      <button>Send</button>
    </form>
  </body>
</html>
